.gitignore
.venv/*
.cpython-310.pyc
testymolo/testymolo/media/temp/*
testymolo/datamolo/__pycache__/*
testymolo/testymolo/__pycache__/*
testymolo/vazydata/__pycache__/*
testymolo/VazySearch/__pycache__/*
testymolo/datamolo/scr/workinprogress/annotate/out/*
testymolo/datamolo/scr/workinprogress/annotate/tmp/*
testymolo/datamolo/scr/workinprogress/annotate/aln/*
testymolo/datamolo/scr/workinprogress/annotate/fasta/*
testymolo/datamolo/scr/workinprogress/annotate/in/sequences/*
testymolo/datamolo/scr/workinprogress/annotate/data/tmp/*
testymolo/datamolo/scr/workinprogress/annotate/in/tmp/*
testymolo/datamolo/scr/workinprogress/profile/testCluster/tmp/*
