div#data_fig {
    color: brown;
}

.hovered {
    color: blue;
}


.figure {
    position: relative;
    display: block;
    width: fit-content;
}

.button-container {
    display: flex;
    float:right;
}
.button-container button {
    margin-left: 1em;
}

span.uni_star {
    color: grey;
}

svg text[hightlighted='true'] {
    font-weight: bold;
}

svg text {
    font-weight: normal;
}
