
div#SESSION {
    position: absolute;
    display: block;
    right: 1vw;
}


div#data_fig {
    color: brown;
}

.hovered {
    color: blue;
}


.figure {
    position: relative;
    display: block;
    width: fit-content;
}

#loadingFigure {
    margin-top: 2em;
}

.button-container {
    display: flex;
    float:right;
}
.button-container button {
    margin-left: 1em;
}

span.uni_star {
    color: grey;
}

svg text[hightlighted='true'] {
    font-weight: bold;
}

svg text {
    font-weight: normal;
}


div.figure span[arrow='arrow-thick-right'] {
    margin-left:1vw;
}

span[arrow='arrow-thick-right'] svg {
    width : 1em;
    height: 1em;
     
 }
 

.button-container {
    display: flex;
    float:right;
}



div.msa {
    /*background: lightcyan;*/
    display: inline-flex;
    margin-top: 1em ;
    /*margin-right: 1em;*/
    --sequences: 76.1vw;
 }

 div.msa div.organism {
     position: relative;
     width: 6vw;
     padding-bottom: 0.5vw;
     overflow: scroll;
}

div.msa div.organism span {
    display: block ruby;
    font-family: Anonymous, monospace;
    margin-bottom: 0.2em;
}
div.msa div.organism span a{
    padding-right: 1em
}
 
 div.msa div.icons {
     position: relative;
     width: 1vw;
     padding-bottom: 0.5vw;
}
 

 div.msa div.headers {
     position: relative;
     width: 14vw;
     border-left-style: solid;
     border-left-width: 2px;
     border-right-style: solid;
     border-right-width: 2px;
     padding-right: 1em;
     overflow: scroll;
     padding-bottom: 0.5vw;
     margin-left: 10m;
 }
 
 div.headers img.sequence_selected_icon {
    display: none;
    width: 0.8em;
    height: 0.7em;
 }

 div.msa div.icons span {
     display: block ruby;   
     font-family: Anonymous, monospace;
     margin-bottom: 0.2em; 
 }


 div.msa div.headers span {
     display: block ruby;   
     font-family: Anonymous, monospace;
     margin-bottom: 0.2em; 
 }

 div.msa div.headers span:first-of-type {
     margin-left: 0.5em; 
 }

div.msa div.sequences {
     position: relative;
     width: var(--sequences);
     overflow: scroll;
     padding-bottom: 0.5vw;
 }
 
 div.msa div.sequences span.sequence {
     margin-left: 1em;
     display: block ruby;
     margin-bottom: 0.2em;
 }


div.msa .scroll_values{
    margin-left: 1em;
    display: block ruby;
    margin-bottom: 0.2em;
    width: var(--sequences);
}


 div.msa .scroll_values span {
     display: block;
     font-family: Anonymous, monospace;
     position: relative;
 }

div.msa  .scroll_values span#start {
    /* background: lightcoral; */
    left: 0%;
    width: 10vw;
}
div.msa  .scroll_values span#end {
    /* background: lightblue; */
    right: 0%;
    text-align: right;
    width: 10vw;
}

div.msa .scroll_values span#middle {
    /* background: lightgrey; */
    visibility: hidden;
    right: 0%;
    width: calc(75vw - 10vw - 10vw);
}



 div.msa div.sequences span {
     display: inline-block;
     font-family: Anonymous, monospace;
 }

 
span.whitespace {
    visibility: hidden;
}
 
span.residue[data-residue='X'] {color: gray;}
span.residue[data-residue='-'] {color: gray;}
span.residue[data-residue='*'] {background: rgb(220, 220, 220); color: gray; }
span.residue[data-residue='~'] {color: gray;}
span.residue[data-residue='_'] {color: rgb(40, 40, 50);}

/* aliphatic/ hydrophobic */
span.residue[data-residue='A'] {color: black;}
span.residue[data-residue='I'] {color: black;}
span.residue[data-residue='L'] {color: black;}
span.residue[data-residue='V'] {color: black;}
span.residue[data-residue='M'] {color: black;}

/* special */
span.residue[data-residue='G'] {color: orange;}
span.residue[data-residue='P'] {color: orange;}

/* aromatic */
span.residue[data-residue='F'] {color: purple;}
span.residue[data-residue='W'] {color: purple;}
span.residue[data-residue='Y'] {color: purple;}

/* cysteine C */
span.residue[data-residue='C'] {color: orange;}

/* hydrophile */
span.residue[data-residue='N'] {color: green;}
span.residue[data-residue='Q'] {color: green;}
span.residue[data-residue='S'] {color: green;}
span.residue[data-residue='T'] {color: green;}

/* nega charged */
span.residue[data-residue='D'] {color: red;}
span.residue[data-residue='E'] {color: red;}

/* posi charged */
span.residue[data-residue='R'] {color: blue;}
span.residue[data-residue='H'] {color: blue;}
span.residue[data-residue='K'] {color: blue;}

