.card {
    position: relative;
    margin: 1px;
    display: inline-flexbox;
    background-color: rgb(240, 240, 240);
    padding: 1em;
}

.card .info {
    width: 25%;
}
.card .profile {
    width: 25%;
}
.card .structure {
    width: 25%;
}
.card .phylo {
    width: 25%;
}

p::first-line {
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}
