.card {
    position: relative;
    margin: 1px;
    background-color: rgb(240, 240, 240);
    padding: 1em;
    display: block;
    height: fit-content;
}

.card div {
    width: 24%;
    height: 100%;
    top : 0;
    position: relative;
    display: inline-table;   
}

.card div p:first-child {
    font-weight: bold;
}

p.profile {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}