<!DOCTYPE html>
<hmtl lang="fr" dir="fr">
    <head>
        <meta charset="utf-8">
        {% load static %}
        
        {% block datamolo_static %}{% endblock %}
        <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <title>{% block title %}VAZyMolO 2: reforged{% endblock %}</title>
    </head>
    <body>

        <p>Hello World !</p>

        
        {% block datamolo %}{% endblock %}


    </body>
</html>