{% extends "base.html" %}


{% block static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/moduleCard.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/alt.js' %}"></script>
{% endblock %}
        

{% block content %}

    {% csrf_token %}

    <div id='SESSION'>{{SESSION.id}}</div>


    <div id="mainfocus" class='frame'>
        <button class="session-button" id="random-button" onclick="updateSection_figure()" >Random</button>
        <button class="session-button" id="refresh-button" onclick="session_refresh()" >Refresh</button>
        <div id="loadingFigure" class="frame" >{{ Protein }}</div>
    </div>

    <div id="modulecard" class='frame'>{{ Module }}</div>

    <div id="loadingProfile" class="frame" >{{ ProfileLogo }}</div>

    <div id="mainminus" class='frame'>{{ proteins }}</div>

    <div id="phylofocus" class='frame'>{{ Phylo }}
        <script src="https://unpkg.com/@phylocanvas/phylocanvas.gl@latest/dist/bundle.min.js"></script>
        <div id='demo'></div>
        <script>
            const tree = new phylocanvas.PhylocanvasGL(
            document.querySelector("#demo"),
            {
                size: { width: 400, height: 300 },
                props: { alignLabels: true },
                source: `(((TGV:1,MHV:1):2,(SARS-TOR2:1,HCoV-229E:1):1):2,(((PEDV:1,BCoV-ENT:1):1,HCoV-OC43:1):2,AIBV[Beaudette]:1):3);`,
                // `(Bovine:0.69395,(Gibbon:0.36079,(Orangutan:0.33636,(Gorilla:0.17147,(Chimp:1.19268,Human:0.11927):0.08386):0.06124):0.15057):0.54939,Mouse:1.21460);`,
                type: phylocanvas.TreeTypes.Rectangular,
            },
            );
        </script>
    </div>

{% endblock %}


