{% extends "base.html" %}


{% block datamolo_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
        

{% block datamolo %}
    <p class='hovered'>Here will be the figure !</p>

    <div id="data_fig" class="figure">
        
        <div id='loadingFigure' loaded='false'>nothing here mate</div>

    </div>
{% endblock %}