<div class='response' ><span class='title'>Result of blastp :</span>
    {% for hit in data %}
        <div class='blastp_hit'>
            <p><a href= 'https://www.ncbi.nlm.nih.gov/protein/{{ hit.id }}'>{{ hit.id }}</a>_{{ hit.start }}:{{ hit.end }}</p>
            <p>Query coverage: {{ hit.align_length }}({{ hit.query_coverage }}%) Hit coverage: {{ hit.hit_length}}({{ hit.hit_coverage }}%) </p>
            <p>Identities: {{ hit.identities }}(<span value='{{ hit.Identities }}'>{{ hit.Identities }}%</span>) Positives: {{ hit.positives }}({{ hit.Positives }}%) score: {{ hit.bits }}</p>
            <p>{{ hit.definition }}</p>
        </div>
    {% endfor %}
</div>