{% extends "base.html" %}


{% block static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vazydata.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/vazydata.js' %}"></script>
{% endblock %}


{% block content %}

<div class='TopPanel'>
    <div class='column'>
        <p><a id="CDS" >CDS: <span class='progress'>{{ numbers.CDS }}</span>%</a></p>
        <p hidden='_'>_</p>
        <p><a id="PolyProtein" >PolyProtein: <span class='progress'>{{ numbers.PolyProtein }}</span>%</a></p>
    </div>
    <div class='column'>
        <p><a id="Genome" >Genome: <span class='progress'>{{ numbers.Genome }}</span>%</a></p>
        <p><a id="Organism" href="{% url 'resumedb' %}" >Organism: <span class='progress'>{{ numbers.Organism }}</span>%</a></p>
        <p><a id="Protein" >Protein: <span class='progress'>{{ numbers.Protein }}</span>%</a></p>
    </div>
    <div class='column'>
        <p><a id="Annotation" >Annotation: <span class='progress'>{{ numbers.Annotation }}</span>%</a></p>
        <p hidden='_'>_</p>
        <p><a id="Subseq" >Subseq: <span class='progress'>{{ numbers.Subseq }}</span>%</a></p>
    </div>
    <div class='column'>
        <p><a id="Modulo" >Modulo: <span class='progress'>{{ numbers.Modulo }}</span>%</a></p>
        <p><a id="Structure" >Structure: <span class='progress'>{{ numbers.Structure }}</span>%</a></p>
        <p><a id="Profile" >Profile: <span class='progress'>{{ numbers.Profile }}</span>%</a></p>
    </div>
</div>

<div class='horizontal_buttons'>
    <button id="parse_old_DB" onclick="parse_old_DB()" >Parse old VAZyMoloO</button>
    <button id="query_NCBI" onclick="query_NCBI()" >ask NCBI</button>
</div>



<div class="parse_vazy_data_1" TaxId="{{ object_id }}">
        {% if Vazy1 %}
        <p>Organism</p>
        {% for Vaz1_item in Vazy1.Organism %}
        <ul>{% for Vaz1_value in Vaz1_item %}
            <li>{{ Vaz1_value }}</li>{% endfor %}
        </ul> {% endfor %}
        <p>CAZy_DB</p>
        {% for Vaz1_item in Vazy1.CAZy_DB %}
        <ul>{% for Vaz1_value in Vaz1_item %}
            <li>{{ Vaz1_value }}</li>{% endfor %}
        </ul> {% endfor %}
        {% endif %}
</div>


<div class='panel left'>
<div class='taxonkit'>
    <div class='taxonkit-query'>
        {% csrf_token %}
        <span class='label'>taxid : </span>
        <input type='text' id="input-taxid" name="taxid"><button onclick="fetchTaxonkit()">fetch</button>
    </div>
    <div class='taxonkit-result'>
        {% if taxonkit %} {{ taxonkit|safe }}
        {% else %}
        <ul><li>species</li><ul>
            <li>sub-species</li>
            <li>sub-species</li></ul>
        <li>species</li>
        <li>species</li></ul>
        {% endif %}
        
    </div>
    
</div>
</div>


<div class='panel middle'>
<div class='CompletionForm' table='Protein' object="{{ object_id }}">
    {% if form %}
    {% if resume %}<p>Resuming Organism:{{ object_id }}</p>{% endif %}
    {% include 'vazydata/form_organism.html' with org=form %}
    {% for prot in proteinForm %}
    {% include 'vazydata/form_protein.html' with prot=prot %}
    {% endfor %}
    
    
    {% endif %}
    
</div>
</div>



<div class='panel right'>
    <div class='externals'>
        <div class='NCBIrecord'>
            <div class='query'>
                {% csrf_token %}
                <span class='label'>accession number : </span>
                <input type='text' id="id_accesionNumber" name="accessionNumber"><button onclick="parse_accessionNumber()">parse</button>
            </div>
            
        </div>
        <div class='blastp'></div>
    </div>
</div>


    {% endblock %}