{% extends "base.html" %}


{% block static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vazydata.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/vazydata.js' %}"></script>
{% endblock %}


{% block content %}

<div class='TopPanel'>
    <div class='column'>
        <p><a id="CDS" >CDS: <span class='progress'>{{ numbers.CDS }}</span>%</a></p>
        <p hidden='_'>_</p>
        <p><a id="PolyProtein" >PolyProtein: <span class='progress'>{{ numbers.PolyProtein }}</span>%</a></p>
    </div>
    <div class='column'>
        <p><a id="Genome" >Genome: <span class='progress'>{{ numbers.Genome }}</span>%</a></p>
        <p><a id="Organism" href="{% url 'resumedb' %}" >Organism: <span class='progress'>{{ numbers.Organism }}</span>%</a></p>
        <p><a id="Protein" href="{% url 'resumedb_Protein' %}" >Protein: <span class='progress'>{{ numbers.Protein }}</span>%</a></p>
    </div>
    <div class='column'>
        <p><a id="Annotation" >Annotation: <span class='progress'>{{ numbers.Annotation }}</span>%</a></p>
        <p hidden='_'>_</p>
        <p><a id="Subseq" >Subseq: <span class='progress'>{{ numbers.Subseq }}</span>%</a></p>
    </div>
    <div class='column'>
        <p><a id="Modulo" >Modulo: <span class='progress'>{{ numbers.Modulo }}</span>%</a></p>
        <p><a id="Structure" >Structure: <span class='progress'>{{ numbers.Structure }}</span>%</a></p>
        <p><a id="Profile" >Profile: <span class='progress'>{{ numbers.Profile }}</span>%</a></p>
    </div>
</div>

{% if Vazy1 %}
<div class="parse_vazy_data_1" TaxId={{ TaxId }}>
    <p>Organism</p>
    {% for Vaz1_item in Vazy1.Organism %}
    <ul>{% for Vaz1_value in Vaz1_item %}
        <li>{{ Vaz1_value }}</li>{% endfor %}
    </ul> {% endfor %}
    <p>CAZy_DB</p>
    {% for Vaz1_item in Vazy1.CAZy_DB %}
    <ul>{% for Vaz1_value in Vaz1_item %}
        <li>{{ Vaz1_value }}</li>{% endfor %}
    </ul> {% endfor %}
</div>
{% endif %}



<div class='taxonkit' taxid="">
    <div class='taxonkit-query'>
        {% csrf_token %}
        <input type='text' id="input-taxid" name="taxid"><button onclick="fetchTaxonkit()">fetch</button>
    </div>
    <div class='taxonkit-result'>
        {% if taxonkit %} {{ taxonkit }}
        {% else %}
        <ul><li>species</li><ul>
            <li>sub-species</li>
            <li>sub-species</li></ul>
        <li>species</li>
        <li>species</li></ul>
        {% endif %}
        
    </div>
    
</div>




<div class='CompletionForm' table='Protein' id={{ object_id }}>
    {% if form %}
    <form method='post' action="/resumedb/Protein/" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value='Next'>
    </form>
    <div class='horizontal_buttons'>
        <button id="parse_old_DB" onclick="parse_old_DB()" >Parse old VAZyMoloO</button>
        <button id="query_NCBI" onclick="query_NCBI()" >ask NCBI</button>
    </div>
    <script>
        function parse_old_DB() {
            console.log("parse_old_DB !");
        }
        function query_NCBI() {
            console.log("query_NCBI ! ");
        }
    </script>
    {% endif %}
    
</div>



    {% endblock %}